@font-face { font-family: Delicious; src: url('../font/delicious-roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../font/delicious-bold.otf'); }
@font-face { font-family: SilkScreen; src: url('../font/SilkScreen.ttf'); }

a {
	color: #0096ff;
	text-decoration: none;
}

body {
	color: #4f4f4f;
	background: #0f0f0f url('../img/Noise_Dark.png') repeat;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

.pageContainer {
	margin: 0 auto;
	min-width: 250px;
}

header {
	background: rgba(0,0,0,.5);
	font-size: 12px;
	overflow: hidden;

	height: 70px;

	position: fixed;
	left: 0;
	right: 0;

	width: 100%;

	z-index: 4;
}

header .inner {
	margin: 10px 10px 0 10px;
}

header .torus {
	float: left;
}

header .search {
	float: right;
	margin: 0 0 5px 5px;
}

header .search input {
	background: #fff url('../img/Magnifier.png') 3px 50% no-repeat;
	border: none;
	border-radius: 10px;
	color: #6f6f6f;
	padding: 3px 5px 3px 22px;
}

header nav {
}

header nav a {
	height: 16px;
	margin-right: 6px;
	opacity: .3;
}

header nav a:hover {
	opacity: 1;
}

header .cordless {
	margin: 0 200px 0 170px;
}

#library {
	font-family: Calibri;
	float: left;
	margin: 80px 70px 20px 70px;
}

#library h1 {
	font-family: Delicious, Calibri;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
}



.sidebar {
	background: rgba(10,10,10,.95);
	/*padding: 10px;*/
	position: fixed;
	top: 70px;
}

.sidebar>.control {
	background: rgba(10,10,10,.95);
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
}

.sidebar>.content {
	margin: 10px 10px 15px 10px;
}



.sidebar .control .icon {
	display: inline-block;
	height: 15px;

	overflow: hidden;
	text-indent: 11px;
	width: 11px;
}

.sidebar .control .lock {
	background: transparent url('../img/Lock_Unlocked.png');
	opacity: .5;
}

.sidebar .control .lock:hover {
	opacity: 1;
}

.sidebar.locked .control .lock {
	background: transparent url('../img/Lock_Locked.png');
}




#playqueue {
	border-radius: 0 0 0 20px;
	right: -342px;
	width: 400px;

	z-index: 2;

	-moz-transition: right ease .4s;
	-webkit-transition: right ease .4s;
}

#playqueue:hover,
#playqueue.extended,
#playqueue.locked {
	right: 0px;
}

#playqueue>.control {
	border-radius: 10px 0 0 10px;
	padding-left: 8px;
	padding-right: 4px;
	right: 100%;
	top: 20px;
}

#playqueue>.control .logo {
	background: transparent url('../img/Sidebar_Icon_PlayQueue.png');
}

#playqueue .playlist .items {
	height: 200px;
	overflow: auto;
}

#playqueue .playlist>.control {
	opacity: .5;
}

#playqueue:hover .playlist>.control {
	opacity: 1;
}







#upload {
	border-radius: 0 0 20px 0;
	position: fixed;
	left: -390px;
	min-height: 200px;
	top: 70px;
	width: 400px;

	z-index: 3;

	-moz-transition: left ease .4s;
	-webkit-transition: left ease .4s;
}

#upload:hover,
#upload.locked,
#upload.extended {
	left: 0px;
}

#upload>.control {
	border-radius: 0 10px 10px 0;
	left: 100%;
	padding-left: 4px;
	padding-right: 8px;
	top: 20px;
}

#upload>.control .logo {
	background: transparent url('../img/Sidebar_Icon_Upload.png');
}

#upload>.control .close {
	background: transparent url('../img/Sidebar_Close_Left.png');
	opacity: .5;
}

#upload.extended>.control .close {
	opacity: 1;
}


#upload .dropArea {
	background: #36b8d4 url('../img/Upload_DropArea_Highlight.png') 0 0 repeat;
	border-radius: 10px;
	color: rgba(255,255,255,.5);
	font-size: 20px;
	font-weight: bold;
	height: 55px;
	line-height: 55px;
	margin: 0 0 10px 0;
	position: relative;
	text-align: center;
}

#upload .dropArea.isHovering {
	background: #ff6c00 url('../img/Upload_DropArea.png') 0 0 repeat;
}

#upload .queue {
	margin: 0 0 10px 0;
}

#upload .queue .progressBar {
	background-image: url('../img/Cordless_ScrubArea.png');
}

#upload .queue .progress {
	background-image: url('../img/Cordless_Scrubber.png');
	height: 6px;
	width: 0;
}



.messages {
}

.messages .message {
	background-color: #313131;
	border-radius: 8px;
	margin: 0 0 3px 0;
	padding: 0px 10px;
}

.messages .message.alert {
	background-color: #ebaa42;
}

.messages .message.error {
	color: #c49a9a;
	background-color: #760d0d;
}

.messages .message.notice {
	color: #fff;
	background-color: #1d96eb;
}
