.album {
}

.album .header h1 {
	color: #fff;
	font-family: Delicious;
	font-size: 32px;
	line-height: 1;
}

.album .header ul {
	margin: 5px 0 10px 0;
	list-style: disc inside none;
}

.album .header .timestamp {
	font-family: Georgia;
}

.album .header p {
	background: #e8e8e8;
	border-radius: 15px;
	margin: 15px 0;
	padding: 20px 30px;
}

.album .container {
	margin: 0 -1px -1px 0;
}

.album .image {
	background-position: center;
	float: left;
	height: 200px;
	width: 200px;
}

.album .image.border {
	border: solid 1px #000;
	margin: 0 -1px -1px 0;
	height: 199px;
	width: 199px;
}

.album .image .overlay {
	box-shadow: 0 0 20px 0px rgba(0,0,0,.8) inset;

	height: 100%;
}

.album .image .overlay:hover {
	background-image: url('../img/BG-White-Transparent-Low.png');
}