/* ### COMMON ### */
/*.brickTile .item.album .badge {
	background-image: url('../img/BrickTile_Badge_Album.png');
}

.brickTile .item.diary .badge {
	background-image: url('../img/BrickTile_Badge_Diary.png');
}*/

.brickTile .item.track .badge {
	background-image: url('../img/BrickTile_Badge_Track.png');
}

.brickTile .layoutSwitch {
	background: url('../img/BoolSwitch.png');
	background-position: 100% 100%;
	height: 20px;
	width: 79px;

	-moz-transition: top  ease .5s;
	-o-transition: top ease .5s;
	-webkit-transition: top  ease .5s;
}

.brickTileCap {
	clear: both;
}


/* ### MATRIX ### */
.brickTile.matrix {
	position: relative;
}

.brickTile.matrix .layoutSwitch {
	background-position: 100% 0;
	position: absolute;
	right: 0;
	top: -26px;
}

.brickTile.matrix .item {
	-moz-transition: all  ease .5s;
	-o-transition: all ease .5s;
	-webkit-transition: all  ease .5s;

	background-color: transparent;
	float: left;
	height: 150px;
	position: relative;
	width: 250px;
	z-index: 100;

	-perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
}

.brickTile.matrix .item:hover {
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	-webkit-transition-duration: 0;
	z-index: 200;
}

.brickTile.matrix .item .content {
	-moz-transition: all  ease .35s;
	-o-transition: all  ease .35s;
	-webkit-transition: all  ease .35s;

	background-color: #fff;
	border: solid 1px #000;
	height: 149px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 249px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}

.brickTile.matrix .item:hover .content {
	-moz-transition-duration: .10s;
	-o-transition-duration: .10s;
	-webkit-transition-duration: .10s;

	border: none;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	-moz-box-shadow: none;
	height: 200px;
	left: -18px;
	overflow: hidden;
	top: -25px;
	width: 300px;

	transform: rotateY(18deg) rotateX(4deg);
	-webkit-transform: rotateY(18deg) rotateX(4deg);
	-moz-transform: rotateY(18deg) rotateX(4deg);
	-o-transform: rotateY(18deg) rotateX(4deg);
}

.brickTile.matrix .image {
	display: block;
	height: 100%;
}

.brickTile.matrix .image img {
	min-height: 100%;
	min-width: 100%;
}


.brickTile.matrix .item .mainText {
	background: url('../img/black-transparent-50.png');
	border-radius: 0 8px 0 0;
	bottom: 0;
	color: #fff;
	font-family: Delicious;
	font-weight: bold;
	font-size: 22px;
	left: 0;
	max-width: 230px;
	padding: 4px 6px;
	position: absolute;
	z-index: 200;
}


.brickTile.matrix .item .smallText {
	background: url('../img/black-transparent-50.png');
	border-radius: 0 0 0 8px;
	color: #fff;
	font-family: Delicious;
	font-size: 16px;
	opacity: 0;
	padding: 5px 8px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}

.brickTile.matrix .item:hover .smallText {
	-webkit-transition-property: opacity;
	opacity: 1;
}

.brickTile.matrix .item .description {
	display: none;
}

.brickTile.matrix .item .badge {
	background-position: 0 0;
	background-repeat: no-repeat;
	left: 0;
	height: 26px;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 35px;
	z-index: 200;
}

.brickTile.matrix .item:hover .badge {
	opacity: 1;
}


/* ### LIST ### */
.brickTile.list {
	position: relative;
}

.brickTile.list .layoutSwitch {
	position: absolute;
	right: 0;
	top: 0;
}

.brickTile.list .item {
	clear: both;
	display: block;
	margin: 10px 0;
	position: relative;
	max-width: 600px;
}

.brickTile.list .item:hover {
}

.brickTile.list .item .content {
	background: url('../img/black-transparent-25.png');
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.brickTile.list .item:hover .content {

}

.brickTile.list .image {
	border-radius: 12px 0 0 12px;
	display: block;
	float: left;
	height: 60px;
	margin: 0 10px 0 0;
	overflow: hidden;
	position: static;
	width: 100px;
}

.brickTile.list .image img {
	left: -25px;
	height: 100px;
	margin: -20px 0 0 -25px;
}


.brickTile.list .item .mainText {
	display: block;
	font-family: Delicious;
	font-size: 20px;
	height: 23px;
	margin-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
}


.brickTile.list .item .smallText {
	color: #bfbfbf;
	font-size: 9px;
	margin: 1px 0 3px 0;
}

.brickTile.list .item .description {
	font-size: 11px;
}

.brickTile.list .item:hover .smallText {

}

.brickTile.list .spotifySearch,
.brickTile.list .lastFMLookUp {
	display: inline-block;
	text-indent: 16px;
	height: 16px;
	margin: -1px 3px 0 0;
	opacity: .5;
	overflow:hidden;
	width: 16px;
}

.brickTile.list .spotifySearch:hover,
.brickTile.list .lastFMLookUp:hover {
	opacity: 1;
}

.brickTile.list .spotifySearch {
	background: url('../img/Icon_Spotify.png') 0 0 no-repeat;
}
.brickTile.list .lastFMLookUp {
	background: url('../img/Bullet_LastFM.png') 0 0 no-repeat;
}