.brickTile {
	/*-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-o-transition-property: all;
	-o-transition-timing-function: ease;*/
}

.brickTile .tile {
	-moz-transition: all  ease .5s;
	-webkit-transition: all  ease .5s;

	background-color: transparent;
	float: left;
	height: 150px;
	position: relative;
	width: 250px;
	z-index: 100;

	-perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
}

.brickTile .tile:hover {
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
	z-index: 200;
}

.brickTile .tile .content {
	-moz-transition: all  ease .5s;
	-webkit-transition: all  ease .5s;

	background-color: #fff;
	border: solid 1px #000;
	height: 149px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 249px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}

.brickTile .tile:hover .content {
	-moz-transition-duration: .15s;
	-webkit-transition-duration: .15s;

	border: none;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	-moz-box-shadow: none;
	height: 200px;
	left: -18px;
	overflow: hidden;
	top: -25px;
	width: 300px;

	transform: rotateY(18deg) rotateX(4deg);
	-webkit-transform: rotateY(18deg) rotateX(4deg);
	-moz-transform: rotateY(18deg) rotateX(4deg);
	-o-transform: rotateY(18deg) rotateX(4deg);
}


.brickTile .tile .mainText {
	border-radius: 0 8px 0 0;
	bottom: 0;
	color: #fff;
	font-family: Delicious;
	font-size: 22px;
	left: 0;
	max-width: 230px;
	padding: 4px 6px;
	position: absolute;
	z-index: 200;
}


.brickTile .tile .smallText {
	border-radius: 0 0 0 8px;
	color: #fff;
	font-family: Delicious;
	font-size: 16px;
	opacity: 0;
	padding: 5px 8px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}

.brickTile .tile:hover .smallText {
	-webkit-transition-property: opacity;
	opacity: 1;
}

.brickTile .tile .badge {
	background-position: 0 0;
	background-repeat: no-repeat;
	left: 0;
	height: 26px;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 35px;
	z-index: 200;
}

.brickTile .tile:hover .badge {
	opacity: 1;
}

.brickTile .tile.album .badge {
	background-image: url('../img/BrickTile_Badge_Album.png');
}

.brickTile .tile.diary .badge {
	background-image: url('../img/BrickTile_Badge_Diary.png');
}

.brickTile .tile.track .badge {
	background-image: url('../img/BrickTile_Badge_Track.png');
}