.diary {
	max-width: 680px;
}

.diary .page {
	background: #e8e8e8;
	color: #454545;
	border-radius: 20px;
	font-family: 'Calibri', 'Arial', 'Helvetica', sans-serif;
	line-height: 1.5;
	padding: 20px 4%;
}

.diary .page .header {
	color: #4d443e;
	margin-bottom: 10px;
}

.diary .page h1 {
	font-family: Delicious;
	font-size: 32px;
	line-height: 1;
}

.diary .page h2 {
	font-size: 20px;
}

.diary .page .header ul {
	list-style: disc inside none;
}

.diary .page .header .details {
	color: #8b8480;
}

.diary .page .header .timestamp {
	font-family: Georgia;
}

.diary .page .content {
	text-align: justify;
}


.diary .page p,
.diary .page .codeblock {
	margin-bottom: 1em;
	text-align: left;
}

.diary .page code {
	font-family: monospace;
}

.diary .page p {
	text-align: justify;
}

.diary .page .codeblock {
	background-color: #D3F986;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	color: #4b6812;
	font-family: monospace;
	overflow: scroll;
	padding: 10px;
}

.diary .page .media {
	text-align: center;
}

.diary .page .media.image {

}

.diary .page .media.image img {
	box-shadow: 0px 5px 12px -3px rgba(0,0,0,1);
	margin: 15px 0 15px 0;
	max-width: 100%;
}

.diary .page .videoPlayer {
	height: 360px;
	max-width: 640px;
	width: 100%;
}

.diary .pagination {
	border-top: solid 1px rgba(0,0,0, .1);
	margin-top: 10px;
	overflow: hidden;
	padding: 5px 10px 0 10px;
}

.diary .pagination .prev {
	float: left;
}

.diary .pagination .next {
	float: right;
}