@font-face { font-family: Delicious; src: url('../font/delicious-roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../font/delicious-bold.otf'); }
@font-face { font-family: SilkScreen; src: url('../font/SilkScreen.ttf'); }

a {
	color: #0096ff;
	text-decoration: none;
}

body {
	color: #4f4f4f;
	background: #0f0f0f url('../img/Noise_Dark.png') repeat;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 0 10px;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

.pageContainer {
	margin: 0 auto;
	max-width: 1000px;
	min-width: 250px;
}

header {
	font-size: 12px;
	margin-top: 25px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 0 1px;
}

header .range {
	float: left;
}

header .caption {
	font-family: Delicious;
	font-weight: normal;
	font-size: 24pt;
	float: left;
	position: relative;
	top: 7px;
}

header .logo {
	background: url('../img/SiteLogo.png');
	display: block;
	float: left;
	height: 38px;
	margin: 0 40px 3px 0;
	width: 159px;
}

header .search {
	float: right;
	margin: 0 0 5px 5px;
}

header .search input {
	background: #fff url('../img/Magnifier.png') 3px 50% no-repeat;
	border: none;
	border-radius: 10px;
	color: #6f6f6f;
	padding: 3px 5px 3px 22px;
}

header nav {
	float: left;
	clear: left;
}

header nav a {
	height: 16px;
	opacity: .3;
}

header nav a:hover {
	opacity: 1;
}

.pageContent {

}

footer {
	color: #9d9d9d;
	clear: both;
	font-size: 10px;
	height: 100px;

	padding: 10px 0 0px 0;
}

footer .social .item {
	background-image: url('../img/SocialIcons.png');
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
	opacity: .15;
	height: 16px;
	width: 16px;

	-moz-transition: opacity ease 1.5s;
	-o-transition: opacity ease 1.5s;
	-webkit-transition: opacity ease 1.5s;
}

footer .social .item:hover {
	opacity: 1;

	-moz-transition: opacity ease .3s;
	-o-transition: opacity ease .3s;
	-webkit-transition: opacity ease .3s;
}

footer .social .item.lastfm { background-position: 0 0; }
footer .social .item.lastfm:hover { background-position: 0 100%; }

footer .social .item.songkick { background-position: -16px 0; }
footer .social .item.songkick:hover { background-position: -16px 100%; }

footer .social .item.facebook { background-position: -32px 0; }
footer .social .item.facebook:hover { background-position: -32px 100%; }

footer .social .item.youtube { background-position: -48px 0; }
footer .social .item.youtube:hover { background-position: -48px 100%; }

/*
FUN FEST PARALLAX
footer .social .item.lastfm { background-position: 0 0; }
footer .social .item.lastfm:hover { background-position: -64px 100%; }

footer .social .item.songkick { background-position: -16px 0; }
footer .social .item.songkick:hover { background-position: -16px 100%; }

footer .social .item.facebook { background-position: -32px 0; }
footer .social .item.facebook:hover { background-position: 32px 100%; }

footer .social .item.youtube { background-position: -48px 0; }
footer .social .item.youtube:hover { background-position: -48px -100%; }*/


.paginator {
	background: url('../img/BG-Black-Transparent-High.png');
	border-radius: 22px;
	clear: both;
	font-family: Delicious;
	height: 44px;
	overflow: hidden;
	margin: 15px auto;
}

.paginator .prev,
.paginator .next {
	background: url('../img/BG-Black-Transparent-Low.png');
	/*border-radius: 22px;*/
	color: #fff;
	font-size: 32px;
	line-height: 39px;
	height: 44px;
	text-align: center;
	width: 44px;
}

.paginator .prev:hover,
.paginator .next:hover {
	background: url('../img/BG-Cyan-Transparent-High.png');
}

.paginator .prev {
	float: left;
}

.paginator .next {
	float: right;
}

.paginator .pageIndex {
	margin: 6px auto;
	max-width: 500px;
	text-align: center;
}

.paginator .pageIndex .pageNumber {
	background: url('../img/BG-Black-Transparent-Low.png');
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
	line-height: 26px;
	height: 28px;
	margin: 2px;
	width: 28px;
}

.paginator .pageIndex .pageNumber:hover {
	background: url('../img/BG-Cyan-Transparent-High.png');
}

.paginator .pageIndex .pageNumber.isCurrent {
	color: #0096ff;
}

.paginator .currentPageNumber {
	color: #c5c5c5;
	font-family: Georgia;
	font-size: 24px;
	text-align: center;
}