@font-face { font-family: Delicious; src: url('../font/delicious-roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../font/delicious-bold.otf'); }
@font-face { font-family: SilkScreen; src: url('../font/SilkScreen.ttf'); }

.transition {
	transition-property: all;
	transition-timing-function: ease;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.transition.fast {
	transition-duration: .15s;
	-moz-transition-duration: .15s;
	-webkit-transition-duration: .15s;
	-o-transition-duration: .15s;
}

.transition.smooth {
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.darkened, .lighted {
	background-position: 0 0;
	background-repeat: repeat;
}

.darkened.deep {
	background-image: url('../img/black-transparent-75.png');
}

.darkened.medium {
	background-image: url('../img/black-transparent-50.png');
}

.darkened.shallow {
	background-image: url('../img/black-transparent-25.png');
}


a {
	color: #0096ff;
	text-decoration: none;
}

body {
	color: #4f4f4f;
	background: #0f0f0f;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 0 10px;
}

h1,
h2,
h3,
h4 {
	font-family: Delicious, sans-serif;
	font-weight: bold;
}

.pageContainer {
	margin: 0 auto;
	max-width: 1000px;
}

header {
	font-size: 12px;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 0 1px;
}

header .caption {
	font-family: Delicious;
	font-weight: normal;
	font-size: 24pt;
	margin-left: 50px;
}

header .search {
	float: right;
}

header .search input {
	background: #fff url('../img/Magnifier.png') 3px 50% no-repeat;
	border: none;
	border-radius: 10px;
	color: #a1a1a1;
	padding: 3px 5px 3px 22px;
}

.pageContent {

}

footer {
	color: #9d9d9d;
	clear: both;
	font-size: 10px;
	height: 100px;

	padding: 10px 0 0px 0;
}

footer .related .item {
	margin-right: 5px;
	opacity: .15;
}

footer .related .item:hover {
	opacity: 1;
}

.pageIndex {
	clear: both;
	margin: 10px 0 0 0;
}

.pageIndex .pageNumber {
	float: left;
	margin: 0 5px 5px 0;
}

.pageIndex .pageNumber a {
	background-color: #1a1a1a;
	border-radius: 0 7px 0 7px;
	color: #767676;
	display: table-cell;
	/*font-family: Georgia;*/
	font-size: 10px;
	font-weight: bold;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	width: 24px;
}

.pageIndex .pageNumber a:hover {
	background-color: #008aff;
	color: #fff;
}