@font-face { font-family: Delicious; src: url('../font/delicious-roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../font/delicious-bold.otf'); }
@font-face { font-family: SilkScreen; src: url('../font/SilkScreen.ttf'); }

.darkened, .lighted {
	background-position: 0 0;
	background-repeat: repeat;
}

.darkened.deep {
	background-image: url('../img/black-transparent-75.png');
}

.darkened.medium {
	background-image: url('../img/black-transparent-50.png');
}

.darkened.shallow {
	background-image: url('../img/black-transparent-25.png');
}


a {
	color: #0096ff;
	text-decoration: none;
}

body {
	color: #4f4f4f;
	background: #0f0f0f url('../img/Noise_Dark.png') repeat;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 0 10px;
}

h1,
h2,
h3,
h4 {
	font-family: Delicious, sans-serif;
	font-weight: bold;
}

.pageContainer {
	margin: 0 auto;
	max-width: 1000px;
}

header {
	font-size: 12px;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 0 1px;
}

header .caption {
	font-family: Delicious;
	font-weight: normal;
	font-size: 24pt;
	margin-left: 50px;
}

header .search {
	float: right;
}

header .search input {
	background: #fff url('../img/Magnifier.png') 3px 50% no-repeat;
	border: none;
	border-radius: 10px;
	color: #a1a1a1;
	padding: 3px 5px 3px 22px;
}

header nav a {
	opacity: .3;
}

header nav a:hover {
	opacity: 1;
}

.pageContent {

}

footer {
	color: #9d9d9d;
	clear: both;
	font-size: 10px;
	height: 100px;

	padding: 10px 0 0px 0;
}

footer .related .item {
	margin-right: 5px;
	opacity: .15;
}

footer .related .item:hover {
	opacity: 1;
}