/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */

@font-face { font-family: Delicious; src: url('../font/delicious-roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../font/delicious-bold.otf'); }

.transition {
	transition-property: all;
	transition-timing-function: ease;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
.transition.fast {
	transition-duration: .15s;
	-moz-transition-duration: .15s;
	-webkit-transition-duration: .15s;
	-o-transition-duration: .15s;
}

.transition.smooth {
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
}

.darkened, .lighted {
	background-position: 0 0;
	background-repeat: repeat;
}

.darkened.deep {
	background-image: url('../img/black-transparent-75.png');
}

.darkened.medium {
	background-image: url('../img/black-transparent-50.png');
}

.darkened.shallow {
	background-image: url('../img/black-transparent-25.png');
}


a {
	color: #0096ff;
	text-decoration: none;
}

body {
	background: #0f0f0f;
	font-family: Arial, sans-serif;
	margin: 0 20px;
}

h1,
h2,
h3,
h4 {
	font-family: Delicious, sans-serif;
	font-weight: bold;
}

.pageContainer {
	margin: 0 auto;
	max-width: 1000px;
}

.header {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.header h1 {
	font-family: Delicious;
	font-size: 32pt;
	letter-spacing: 2px;
}

.pageContent {

}

.footer {
	color: #9d9d9d;
	clear: both;
	font-size: 10px;
	height: 100px;

	padding: 10px 0 0px 0;
}

.footer .related .item {
	margin-right: 5px;
	opacity: .15;
}

.footer .related .item:hover {
	opacity: 1;
}

.bricktiles {

}

.bricktiles .tile {
	background-color: #fff;
	float: left;
	height: 150px;
	position: relative;
	width: 250px;
	z-index: 100;

	-perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
}

.bricktiles .tile:hover {
	z-index: 200;
}

.bricktiles .tile .content {
	background-color: #fff;
	border: solid 1px #000;
	height: 150px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 250px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}

.bricktiles .tile:hover .content {
	border: none;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	-moz-box-shadow: none;
	height: 200px;
	left: -18px;
	overflow: hidden;
	top: -25px;
	width: 300px;

	transform: rotateY(18deg) rotateX(4deg);
	-webkit-transform: rotateY(18deg) rotateX(4deg);
	-moz-transform: rotateY(18deg) rotateX(4deg);
	-o-transform: rotateY(18deg) rotateX(4deg);
}


.bricktiles .tile .caption {
	border-radius: 0 8px 0 0;
	bottom: 0;
	color: #fff;
	font-family: Delicious;
	font-size: 22px;
	left: 0;
	max-width: 230px;
	padding: 4px 6px;
	position: absolute;
	z-index: 200;
}


.bricktiles .tile .timestamp {
	border-radius: 0 0 0 8px;
	color: #fff;
	font-family: Delicious;
	font-size: 16px;
	opacity: 0;
	padding: 5px 8px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}

.bricktiles .tile:hover .timestamp {
	opacity: 1;
}


.pageIndex {
	margin: 5px 0 0 0;
}

.pageIndex .pageNumber {
	float: left;
	margin: 0 5px 5px 0;
}

.pageIndex .pageNumber a {
	background-color: #1a1a1a;
	border-radius: 7px;
	color: #b0b0b0;
	display: table-cell;
	/*font-family: Georgia;*/
	font-size: 10px;
	font-weight: bold;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	width: 24px;
}

.pageIndex .pageNumber a:hover {
	background-color: #e0006f;
	color: #fff;
}